@import 'utils/reset';
@import 'utils/vars';

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 59px;
  color: var(--color-main);
  text-align: center;
  text-transform: uppercase;
}

@import 'common/_common';